* {
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    text-align: left;
}

li {
    text-align: left;
    margin: 10px;
}

h4 {
    text-align: left;
    font-size: 25px;
}

p {
    text-align: left;
}

img {
    width: 500px;
    height : auto;
}